.box {
  height: 100%;
  background-color: #192734;
}

.theme-btn {
  position: absolute;
  top: -35px;
  right: -6px;
  cursor: pointer;
  opacity: 0.75;
}

.theme-btn:hover {
  opacity: 1;
}

.theme-btn a .dark-icon {
  transform: scale(0.55);
}

.theme-btn a .light-icon {
  display: none;
  transform: scale(0.54);
}

body {
  background-color: rgb(21 32 43);
}

.notification {
  background-color: #018470;
}

.footer {
  background-color: #15202b;
}

.box > p {
  color: #e6e8f1;
}

.title {
  color: #e6e8f1;
}

.subtitle {
  color: #a0a2af;
}
